form {
  align-items: flex-start;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  margin: 10px;
}

label {
  display: flex;
  flex-flow: column;
  margin: 5px;
}

button {
  background-color: rgb(47, 193, 140);
  border: none;
  border-radius: 5px;
  color: white;
  height: 30px;
  margin-top: 5px;
  width: 100px;
}
